[core]
no_lock = True
log_level = DEBUG

[worker]
keep_alive = False
ping_interval = 20
wait_interval = 20
max_reschedules = 3

[DEFAULT]
name = ML_train
ENV_NAME = BaseWRoot

; grid storage protocol and path usable from submitting machine and worker nodes of cluster
; job in- and output will be stored in $wlcg_path under subdirectory of analysis $name
wlcg_path = root://cmsxrootd-kit.gridka.de//store/user/${USER}/LAW_storage
; default htcondor job submission configuration (modifiable for each task)
htcondor_accounting_group = cms.higgs
htcondor_remote_job = True
htcondor_request_cpus = 1
# htcondor_request_gpus = 1
; for all cores in total
htcondor_universe = docker 
;image without GPU libraries
htcondor_docker_image = mschnepf/slc7-condocker:latest
;image with GPU libraries
# htcondor_docker_image = tvoigtlaender/slc7-condocker-cuda-11.5-cudnn8:base
; create log files in htcondor jobs
transfer_logs = True
; set local scheduler
local_scheduler = True
; set tolerance for workflow success with failed branches
tolerance = 0.00
acceptance = 1.00
; submit only missing htcondor workflow branches (should always be true)
only_missing = True

; bootstrap file to be sourced at beginning of htcondor jobs (relative PATH to framework.py)
bootstrap_file = setup_law_remote.sh


# era = all_eras
# channel = tt
# mass = 550
# batch_num = 4

[CreateTrainingDatasets]
htcondor_request_cpus = 8
htcondor_walltime = 3600
htcondor_request_memory = 10000
htcondor_requirements = (TARGET.ProvidesEKPResources==True) && (TARGET.ProvidesIO==True)
htcondor_request_disk = 20000000
additional_files = ["ml_scripts"]
# replace_processor_tar = True
# era = 2018
# channel = tt
# mass = 500
# batch_num = 3
[CreateTrainingDatasetsAllEras]
# era = all_eras
# channel = tt
# mass = 500
# batch_num = 4
