[submodule "data/jsonpog-integration"]
	path = data/jsonpog-integration
	url = ssh://git@gitlab.cern.ch:7999/cms-nanoAOD/jsonpog-integration.git
[submodule "analysis_configurations/tau"]
	path = analysis_configurations/tau
	url = git@github.com:zhiyuanlcern/TauAnalysis-CROWN.git
# for vscode
[submodule "analysis_configurations"]
	path = analysis_configurations
	url = dummy_string_to_satisfy_vscode
